@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/tópicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");
:root{
    --cor-de-fundo: rgb(172, 156, 156);
    --branco: white;
    --laranja: orange;
    --azul: blue;
    --azulescuro: rgb(0, 0, 90);
    --fonte-principal: "Poppins";
 }

 body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
 }


